root = true

# Global standards (PHP, JS, TS, SCSS)
# wp-scripts Prettier defaults to tabs for code files.
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab

# Data and Documentation standards
# Prettier strictly enforces 2 spaces for these formats.
[*.{json,yml,yaml,md}]
indent_style = space
indent_size = 2